<meta charset="utf-8" />
<title>My Workout</title>

<link
  rel="stylesheet"
  href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
/>

<link rel="stylesheet" href="/css/style.css" />

  <!-- Navigation -->
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <div class="navbar-brand" >My Fitness</div>
     
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
           
            </li>
            <li class="nav-item">
              <a  class = "btn btn-primary"href="/users/new">Sign Up</a>
            </li>
    
          </ul>
        </div>
      </div>
    </nav>


</div>
